    <section>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="product_single">
            <h1>Create a new nerdy product:</h1>
            <%= form_tag '/products', method: :post do %>
              <div>
                Name: <input type="text" name="name">
              </div>
              <div>
                Price: <input type="text" name="price">
              </div>
              <div>
                Image: <input type="text" name="image">
              </div>
              <div>
                Description: <input type="text" name="description"> 
              </div>
              <input type="submit" value="Process New Nerdiness">
            <% end %>
          </div>
        </div>
      </div>
    </section>
